<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VRP Solver Backend</title>
</head>
<body>
    <h1>Welcome to the VRP Solver Backend</h1>
    <p>
        This is the backend of VRP Solver developed under the project titled <a href="https://www.uwasa.fi/en/elintarvike-ekosysteemi">Optimising distribution transport in the food ecosystem</a> at the University of Vaasa, Finland.
    </p>
    <p>
        To use this solver, download and set up the frontend from <a href="https://github.com/r1azmh/vrp-frontend.git">this Link.</a>
    </p>
</body>
</html>
