{% extends 'home.html' %}
{% load static %}
{% block content %}
    <div class="container mx-auto min-h-screen bg-white rounded-xl p-4">
        <h2 class="text-center text-xl my-3">Details about {{ work.name }}</h2>
        <div class="my-8 border rounded-xl">
            <div id="accordion-color" data-accordion="collapse"
             data-active-classes="bg-blue-100 dark:bg-gray-800 text-blue-600 dark:text-white">
            <h2 id="accordion-color-heading-1">
                <button type="button"
                        class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 gap-3"
                        data-accordion-target="#accordion-color-body-1" aria-expanded="true"
                        aria-controls="accordion-color-body-1">
                    <span>Jobs</span>
                    <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M9 5 5 1 1 5"/>
                    </svg>
                </button>
            </h2>
            <div id="accordion-color-body-1" class="hidden" aria-labelledby="accordion-color-heading-1">
                <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">

                    <ol class="relative border-s border-gray-200 dark:border-gray-700">
                        {% for job in jobs %}
                            <li class="mb-10 ms-6">
        <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
            <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
            </svg>
        </span>
                                <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">{{ job.name }}</h3>
                                <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
                                    start tw:{{ job.start_at }}
                                </time>
                                <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
                                    end tw: {{ job.end_at }}
                                </time>
                                <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
                                    Location({{ job.lat }}, {{ job.lng }})</p>
                            </li>
                        {% endfor %}
                    </ol>


                </div>
            </div>
            <h2 id="accordion-color-heading-2">
                <button type="button"
                        class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 gap-3"
                        data-accordion-target="#accordion-color-body-2" aria-expanded="false"
                        aria-controls="accordion-color-body-2">
                    <span>Fleets</span>
                    <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M9 5 5 1 1 5"/>
                    </svg>
                </button>
            </h2>
            <div id="accordion-color-body-2" class="hidden" aria-labelledby="accordion-color-heading-2">
                <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
                    <ol class="relative border-s border-gray-200 dark:border-gray-700">
                        {% for vehicle in vehicles %}
                            <li class="mb-10 ms-6">
        <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
            <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
            </svg>
        </span>
                                <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">{{ vehicle.name }}</h3>
                                <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
                                    start tw:{{ vehicle.start_at }}
                                </time>
                                <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
                                    end tw: {{ vehicle.end_at }}
                                </time>
                                <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
                                    Location({{ vehicle.lat }}, {{ vehicle.lan }})</p>
                                <div class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
                                    profile: {{ vehicle.profile.name }}
                                    <p class="mb-2 pl-3 text-base font-normal text-gray-500 dark:text-gray-400">cost: {{ vehicle.profile.fixed_cost }}</p>
                                    <p class="mb-2 pl-3 text-base font-normal text-gray-500 dark:text-gray-400">distance: {{ vehicle.profile.distance }}</p>
                                    <p class="mb-2 pl-3 text-base font-normal text-gray-500 dark:text-gray-400">time: {{ vehicle.profile.time }}</p>
                                </div>
                                <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
                                    Type:({{ vehicle.type.name }})</p>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
        </div>
        <a href="/solution/{{ work.id }}/solve"
           class="my-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            Solve
        </a>

    </div>

{% endblock content %}