{% extends 'home.html' %}
{% load static %}
{% block content %}
    <div class="container mx-auto min-h-screen">
        <div class="grid grid-cols-1 gap-8 pt-12 px-20">
            <div class="p-4 shadow-xl rounded bg-white">
                <h2 class="text-center text-2xl font-bold">Assign Work</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="grid grid-cols-4 mt-2 align-center">
                        <label for="job_id">ID:</label>
                        <input type="text" id="work" name="work_name"
                               class=" col-span-3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                               placeholder="Enter work name" required>
                    </div>
                    <button type="submit"
                            class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                        Add Job
                    </button>
                </form>
            </div>
        </div>



<div class="relative overflow-x-auto my-8">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Work name
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>

            </tr>
        </thead>
        <tbody>
        {% for work in works %}
             <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ work.name }}
                </th>
                <td class="px-6 py-4">
                    <a href="/solution/{{ work.id }}"
                            class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                        Get Solution
                    </a>
                </td>
            </tr>


        {% endfor %}
            </tbody>
    </table>
</div>


    </div>
{% endblock content %}
